In [1]:
def mul(list):
      result=1
      for x in list: 
                     result=result*x
      return result
list1=[1,2,3]
list2=[3,2,4]
print(mul(list1))
print(mul(list2))

6
24

In [6]:
lst=[]
num=int(input('how many numbers'))
for n in range(num):
                    numbers=int(input("enter number"))
                    lst.append(numbers)
print("maximum element in the list is",max(lst))
print("minimum element in the list is",min(lst))

how many numbers5
enter number20
enter number30
enter number0
enter number8
enter number09
maximum element in the list is 30
minimum element in the list is 0

In [7]:
a=[10,20,30,40,50,10,80,70,60,20,30]
dup=set()
uniq=[]
for x in a:
           if x not in dup:
                            uniq.append(x)
                            dup.add(x)
print(dup)

{70, 40, 10, 80, 50, 20, 60, 30}

In [9]:
mylst=[]
mylist=list()
if len(mylst)==0:
                  print("list is empty")
else:
                  print("list is not empty")

list is empty

In [10]:
from random import shuffle
color=['red','green','yellow']
shuffle(color)
print(color)

['red', 'yellow', 'green']

In [14]:
def dif(li1,li2):
          return(list(set(li1)-set(li2)))
li1=[10,20,30]
li2=[25,40,35]
print(dif(li1,li2))

[10, 20, 30]